<!DOCTYPE html>
<html>
    <head>
        <title> Javascript Calculator</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="./libraries/jquery-2.2.4.min.js"></script>
        <script src="./libraries/angular1_6_1.min.js"></script>
        <script src="./libraries/jquery.animate-shadow-min.js"></script>
        <!--<script src="./libraries/angular-ui-router.min.js"></script>-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo">
        <!--<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=OpenSans">-->
        <!--<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Delicious">-->



        <script src="./libraries/bootstrap.js"></script>
        <link href="./libraries/bootstrap.min.css" rel="stylesheet" >
        <link href="./libraries/bootstrap-theme.min.css" rel="stylesheet"></link>
        <link href="./libraries/main.css" rel="stylesheet"></link>



    </head>


<!---->
<!--Fulfill the below user stories. Use whichever libraries or APIs you need. Give it your own personal style.-->
<!---->
<!--User Story: I can add, subtract, multiply and divide two numbers.-->
<!---->
<!--User Story: I can clear the input field with a clear button.-->
<!---->
<!--User Story: I can keep chaining mathematical operations together until I hit the equal button, and the calculator will tell me the correct output.-->
<!---->
<!--Remember to use Read-Search-Ask if you get stuck.-->
<!---->
<!--When you are finished, click the "I've completed this challenge" button and include a link to your CodePen.-->
<!---->
<!--You can get feedback on your project by sharing it with your friends on Facebook.-->




    <body ng-app="app" ng-controller="calcCtrl as calc">
        <div class="container" >
            <h1>JS Calculator <small>Angular Powered</small></h1>
            <div id="calculator" >
              <!-- dir="rtl" -->
              <!-- ^doesn't work -->
                <input class="text-right"  value="{{calc.textbox}}" style="font-size:9;" readonly></input>
                <div>
                <!--ng-keypress="vm.textbox += '7'"-->
                    <span ng-click="calc.textbox = calc.textbox + '7'">7</span>
                    <!-- //Why do I not need to use double brackets? -->
                    <span ng-click="calc.textbox = calc.textbox + '8'">8</span>
                    <span ng-click="calc.textbox = calc.textbox + '9'">9</span>
                    <span ng-click="calc.textbox = ''">C</span>
                    <span><i ng-click = "calc.backspace()" class="material-icons backward">keyboard_backspace</i></span>
                </div>

                <div>
                    <span ng-click="calc.textbox = calc.textbox + '4'">4</span>
                    <span ng-click="calc.textbox = calc.textbox + '5'">5</span>
                    <span ng-click="calc.textbox = calc.textbox + '6'">6</span>
                    <span class="multi" ng-click="calc.pressOperator('*')">*</span>
                    <span ng-click="calc.pressOperator('/')">/</span>
                </div>

                <div>
                    <span ng-click="calc.textbox = calc.textbox + '1'">1</span>
                    <span ng-click="calc.textbox = calc.textbox + '2'">2</span>
                    <span ng-click="calc.textbox = calc.textbox + '3'">3</span>
                    <span ng-click="calc.pressOperator('-')" style="line-height:60px;">-</span>
                    <span ng-click="calc.pressOperator('+')">+</span>
                </div>

                <div>
                    <span ng-click="calc.textbox = calc.textbox + '0'">0</span>
                    <span ng-click="calc.pressOperator('.')">.</span>
                    <!-- operators come out strangely, on the other end
                    its cause its right to left-->
                    <span ng-click="calc.textbox = calc.textbox + '%'">%</span>
                    <span ng-click="calc.calculate()" class="wide_button">=</span>
                </div>

            </div>

        </div>
        <!--<h1>{{calc.textbox}} </h1>-->
    </body>

    <script>
        // $(function()
        // {

          // older button press
            // $("#calculator > div > span").on("click",  function ()
            // {
            // console.log("test");
            //     //$(this).animate( {box-shadow: " });
            //     $(this).animate({boxShadow: "0px 1px 1px 1px rgba(220,220,220, 0.4)", }, "fast");
            //     $(this).animate({boxShadow: "0px 1px 1px 1px rgba(220,220,220, 0.8)", }, "fast");
            // });

        // });

        var app = angular.module('app', []);
        app.controller('calcCtrl', function()
        {
            var vm = this;
            vm.textbox = "";


            vm.pressOperator = function(op)
            {
              var last =  vm.textbox[vm.textbox.length-1];
              console.log(last);

              if ( op == ".")
              {
                if ( last !== "." )
                {
                  vm.textbox = vm.textbox + op;
                }
              }

              else if ( last !== "*" && last !== "-" && last !== "/" && last !== "+" )
              {
                vm.textbox = vm.textbox + op;
              }

            };

            vm.backspace = function()
            {
              if (vm.textbox.length > 1)
              {
                vm.textbox = vm.textbox.slice(0, -1);
              }
              else
              {
                vm.textbox = "";
              }
            };

            vm.calculate = function()
            {
              vm.textbox = eval(vm.textbox) + "";
              console.log(typeof vm.textbox);
            };

        });
    </script>


</html>
